In [ ]:
#PostgresSQL
#Estabelecendo conexão com o postgres DW para o Pandas Dataframe

In [1]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   --------------------------- ------------ 0.8/1.2 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 2.6 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10

In [3]:
import pandas as pd
import psycopg2

In [19]:
PGHOST = 'localhost'
PGDATABASE = 'postgres'
PGUSER = 'postgres'
PGPASSWORD = '123'
port = '5432'

# Configuração para conexão com o SGBD Postgresql

conn_string = "host="+ PGHOST \
            +" port="+ port \
            +" dbname="+ PGDATABASE \
            +" user="+ PGUSER \
            +" password="+ PGPASSWORD

conn = psycopg2.connect(conn_string)

# Selecionar os dados que estão retornando da tabela do banco..
tb_cliente_postgres = pd.read_sql_query(''' SELECT * FROM dw.dim_cliente''', conn)

# Fecha a Conexão com o Banco..
conn.close()

C:\Users\Igor\AppData\Local\Temp\ipykernel_756\1888639255.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tb_cliente_postgres = pd.read_sql_query(''' SELECT * FROM dw.dim_cliente''', conn)

In [29]:
tb_cliente_postgres.head()

   id_cliente nome_cliente sexo  idade    cidade estado
0           1    Cliente 1    M     19  Cidade 1     ES
1           2    Cliente 2    F     20  Cidade 2     ES
2           3    Cliente 3    M     21  Cidade 3     ES
3           4    Cliente 4    F     22  Cidade 4     ES
4           5    Cliente 5    M     23  Cidade 5     ES